{% extends "base.html" %}
{% block title %}Менеджер задач{% endblock %}
{% block content %}
<h1 class="mb-4">Добро пожаловать в Менеджер задач</h1>
<p class="lead">Управляйте своими задачами легко.</p>

<!-- <div class="d-flex gap-3">
    <a href="{% url 'login' %}" class="btn btn-primary">Вход</a>
    <a href="{% url 'users:create' %}" class="btn btn-outline-primary">Регистрация</a>
    <a href="{% url 'users:list' %}" class="btn btn-outline-secondary">Пользователи</a>
</div> -->
{% endblock %}

