{% extends 'base.html' %}

{% block content %}
<h1>Метки</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for label in labels %}
    <tr>
      <td>{{ label.id }}</td>
      <td>{{ label.name }}</td>
      <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
      <td>
        <a href="{% url 'labels:update' label.pk %}">Изменить</a> | 
        <a href="{% url 'labels:delete' label.pk %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'labels:create' %}" class="btn btn-success">Создать метку</a>
{% endblock %}
