{% extends "base.html" %}
{% block content %}
<h1>Статусы</h1>

<a href="{% url 'statuses:create' %}" class="btn btn-primary mb-4">Создать статус</a>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for status in statuses %}
    <tr>
      <td>{{ status.id }}</td>
      <td>{{ status.name }}</td>
      <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
      <td>
        <a href="{% url 'statuses:update' status.pk %}">Изменить</a> |
        <a href="{% url 'statuses:delete' status.pk %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

